<header>
  <nav>
  
    <ul class="nav-links">
      <div class="">
        <img src="assets/images/logo.png" width="30%" alt="Logo">
      </div>
      <li class="nav-item" routerLink="/about-us" routerLinkActive="active">About Us</li>
      <li class="nav-item" routerLink="/our-brands" routerLinkActive="active">Our Brands</li>
      <li class="nav-item" routerLink="/promotions-events" routerLinkActive="active">Promotions & Events</li>
      <li class="nav-item" routerLink="/news" routerLinkActive="active">News</li>
      <li class="nav-item" routerLink="/career" routerLinkActive="active">Career</li>
      <li class="nav-item" routerLink="/membership-benefits" routerLinkActive="active">Membership & Benefits</li>
      <li class="nav-item" routerLink="/contact-us" routerLinkActive="active">Contact Us</li>
      <li class="nav-item language">
        <a href="#">EN</a>
        <a href="#">DE</a>
      </li>
    </ul>
  </nav>
</header>
