header {
  background-color: white;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* position: fixed; */
  top: 0;
  left: 0;
  right: 0;
  position: sticky;
  z-index: 100;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

  .logo {
    margin-left: 20px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
  }
  
  .nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-right: 20px;
  }
  
  .nav-item {
    font-family: "Proxima-Nova-Bold", sans-serif;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 1.5px;
    color: #1C1C1C;
    text-transform: uppercase;
    text-align: center;
    padding: 6px 12px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .nav-item:hover {
    text-decoration: underline;
    color: #FF0000;
  }
  
  .language {
    margin-left: auto;
    display: flex;
  }
  
  .language a {
    font-family: "Proxima-Nova-Bold", sans-serif;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 1.5px;
    color: #1C1C1C;
    text-transform: uppercase;
    text-align: center;
    padding: 6px 12px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .language a:hover {
    color: #FF0000;
  }
  